<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/dlebansais/index.json" />
        <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="dlebansais" />
            <!-- Read-only access -->
            <add key="ClearTextPassword" value="&#103;&#104;&#112;&#95;&#106;&#74;&#80;&#57;&#53;&#57;&#74;&#102;&#121;&#103;&#75;&#115;&#54;&#52;&#118;&#109;&#88;&#110;&#107;&#56;&#120;&#122;&#78;&#70;&#54;&#82;&#101;&#82;&#86;&#77;&#52;&#55;&#65;&#50;&#66;&#90;" />
        </github>
    </packageSourceCredentials>
</configuration>